%h1.heading
  = "Tenants"
  
%p.actions
  = link_to 'New Tenant', new_resource_path
  
%table
  %thead.header
    %tr
      %th.name= 'Name'
      %th.actions= 'Actions'
  %tbody.items.resources
    - collection.each do |resource|
      = render 'item', :resource => resource
      
= will_paginate(collection)
