
<p>
<span
class="editable"
data-select_options="'<%=credential_group_operators_options%>'"
data-field_type='"select"'
data-update_value="'requirement_group[operator]'"
data-url='"requirement_sets/<%=@requirement_set.id%>/requirement_groups/<%=group.id%>"'>
        <%=group.operator.to_s.titleize%>
    </span>
  of the following credentials are required to satisfy this requirement:
</p>

<%unless group.required_credentials.blank?%>
    <div>
      <div class="hastable" style="width:50%;">
        <table>
          <thead>
          <tr>
            <th>Type</th>
            <th>Name</th>
            <th>Duty Requirement</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <%group.required_credentials.each do |credential|%>
              <tr id ="tr_<%=group.id%>_<%=credential.id%>">
                <td>
                  <%=credential.class.name.split("::")[-1].titleize%>
                </td>
                <td>
                  <%=credential.name%>
                </td>
                <td>
                  <%=credential.duty_requirement%>
                </td>
                <td>
                  <a class="btn_no_text btn ui-state-default ui-corner-all tooltip" title="Remove requirement for <%=credential.name%>" href="#delete" rel="credential" data-credential-id="<%=credential.id%>" data-group-id="<%=group.id%>">
                    <span class="ui-icon ui-icon-circle-close"></span>
                  </a>
                </td>
              </tr>
          <%end%>
          </tbody>
        </table>
      </div>
    </div>
<%end%>

<div class="portlet ui-corner-all ui-widget ui-widget-content" style="width:50%" data-group-id="<%=group.id%>">
  <button id="add_requirement_<%=group.id%>" class="add-requirement" >Add New Requirements</button>
</div>

<script language="javascript">
    $(document).ready(function(){
        $("a[href=#delete]").click(function()
        {
            var cred_id = $(this).attr("data-credential-id");
            var group_id = $(this).attr("data-group-id");
            $.ajax({
                type:'POST',
                url:"requirement_sets/<%=@requirement_set.id%>/requirement_groups/" + group_id + "/remove_requirement",
                data:{_method:'delete',required_credential_id:cred_id},
                success:function(){
                    $("#tr_" + group_id + "_" + cred_id).remove();
                    $(document).trigger("requirement_set.requirement_group.requirement.deleted",[group_id,cred_id]);
                }
            });
        });

        $("button.add-requirement").button().click(function(){
            var group_id = $(this).parent().attr("data-group-id");
            $.maestro.dialogs.selectCredential('<%=@requirement_set.department_id%>',{
                onSelection:function(selected_credential_ids){
                    $.ajax({
                        type: 'POST',
                        url: "requirement_sets/<%=@requirement_set.id%>/requirement_groups/" + group_id + "/add_requirements",
                        data:{_method:'PUT', required_credential_ids:selected_credential_ids},
                        success:function(){
                            $(document).trigger("requirement_set.selected",['<%=@requirement_set.department_id%>','<%=@requirement_set.id%>']);
                        }
                    });
                }
            });
        });
    });


</script>

