<%form_for([:admin,@employee,@issued_credential]) do |form|%>
  <div>
    <p>
      <label for="credential"><%=@issued_credential.credential_type_name%>:</label><br>
      <%=@issued_credential.credential_name%><br>
    </p>
    <p>
        <%=form.label :issue_date%><br>
        <%=form.text_field :issue_date, :class=>"date-field"%>
    </p>
    <p>
      <%=form.label :expiration_date%><br>
      <%=form.text_field :expiration_date, :class=>"date-field"%>
    </p>
  </div>
<%end%>