<div id="issued_credential_list" class="hastable">
  <table id = "issued_credential_table" class="ui_widget">
    <thead>
    <tr>
      <th>Credential</th>
      <th>Credential Type</th>
      <th>Issued</th>
      <th>Expires</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <%@issued_credentials.each do |ic|%>
        <tr class="ui_state_default ic_row_<%=ic.id%>">
          <td><a href="<%=admin_credential_url(ic.credential_id)%>"><%=ic.credential_name%></a></td>
          <td><%=ic.credential_type_name%></td>
          <td><%=ic.issue_date%></td>
          <td><%=ic.expiration_date ? "#{ic.expiration_date} (#{ic.days_until_expiration} days)" : "never expires"%></td>
          <td>
            <span id="edit_credential_<%=ic.id%>" class="ui-icon ui-icon-pencil edit-credential" style="cursor:pointer"></span>
            <span id="remove_credential_<%=ic.id%>" class="ui-icon ui-icon-closethick remove-credential" style="cursor:pointer"></span>
          </td>
        </tr>
    <%end%>
    </tbody>
  </table>
</div>



