<div id="role_tree">
  <ul>
    <%@departments.keys.each do |dep|%>
        <li id="<%=dep.id%>" data-department-id="<%=dep.id%>" rel="department">
          <a href="#" title="<%=dep.name%>"><%=dep.name%></a>
          <%unless @departments[dep].blank?%>
              <%=subtree_html(@departments[dep], dep.id)%>              
          <%end%>
        </li>
    <%end%>
  </ul>
</div>

