<style>
  label {
      font-weight:bold;
      color:navy;
  }
</style>

<div id="employee_full_name"
     name="employee[full_name]"
     class="heading editable"
     data-update_value="'employee[full_name]'"><%=@employee.full_name%></div>

<span id="employee_email_address"
      name="employee[email_address]"
      class="editable"
      data-update_value="'employee[email_address]'"
      data-default_text="'(Add an e-mail address)'"><%=@employee.email_address%>
</span>
<a href="mailto:<%=@employee.email_address%>" class="ui-icon ui-icon-mail-closed" style="float:left"></a>

<div style="border-top:1px solid gray;padding:4px;margin:4px"><label>Department:</label> <%=@employee.department.name%> |
     <label>Primary Assignment:</label> <%=@employee.organizational_unit.name%> |
     <label>Primary Position:</label> <%=@employee.organizational_role.name%></div>


<p/>
  <div class="heading">Credentials & Training</div>
  <table id = "issued_credential_list">
    <tr>
      <th>Credential Type</th>
      <th>Credential</th>
      <th>Issued</th>
      <th>Expires</th>
    </tr>
    <%@employee.issued_credentials.each do |ic|%>
        <tr>
          <td><%=ic.credential_type_name%></td>
          <td><%=ic.credential_name%></td>
          <td><%=ic.issue_date%></td>
          <td><%=ic.expiration_date ? "#{ic.expiration_date} (#{ic.days_until_expiration} days)" : "Never expires"%></td>
        </tr>
    <%end%>
  </table>
  <button id="issue_credential">New Credential/Training</button>

<script language="javascript">
  $.fn.editInPlace.defaults.url='#{@employee.id}';
  $('.editable').editInPlace();
  $('#issue_credential').button().click(function(){
     $.maestro.dialogs.issueCredential('<%=@employee.id%>',{
            onSubmit:function(newCredential){
                location.reload(true);
//                $.ajax({
//                    type:'POST',
//                    url:"requirement_sets/<%#@requirement_set.id%>/requirement_groups/" + group_id + "/add_requirement",
//                    data:{_method:'put',required_credential_id:newCredential["id"]},
//                    success:function(data){
//                        raiseUpdatedEvent();
//                    }
//                });
            }
        });
  });
</script>