<div class="hastable">
  <table>
    <thead>
    <tr>
      <th>Employee</th>
      <th>Department</th>
      <th>Assignment</th>
      <th>Position</th>
      <th>Compliance</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <%@employees.each do |employee|%>
        <tr  id="emp_row_<%=employee.id%>">
          <td>
            <a href="<%=resource_url(employee)%>">
              <%=employee.full_name_formal%>
            </a>
          </td>
          <td>
            <%=employee.department.name%>
          </td>
          <td>
            <%=employee.organizational_unit.name%>
          </td>
          <td>
            <%=employee.organizational_role.name%>
          </td>
          <td>
            <%if employee.requirement_compliance%>
                <div class="ui-corner-all requirement-status <%=employee.requirement_compliance.status%>">
                  <%=employee.requirement_compliance.status.to_s.humanize.titleize%>
                </div>
            <%end%>
          </td>
          <td>
            <a href="<%=edit_resource_url(employee)%>"><span id="edit_employee_<%=employee.id%>" class="ui-icon ui-icon-pencil edit_employee" style="cursor:pointer"></span></a>
            <span id="delete_employee_<%=employee.id%>" class="ui-icon ui-icon-closethick delete_employee" style="cursor:pointer"></span>
          </td>
        </tr>
    <%end%>
    </tbody>
  </table>
</div>
<div class="ui-box-header ui-corner-bottom" style="padding:15px;">
  <%=will_paginate @employees, :class=>'digg_pagination', :style=>"float:right;margin:-7px"%>
</div>