<style>
    label {
        font_weight:bold;
        color:navy;
    }
</style>

<div id="employee_full_name"
     name="employee[full_name]"
     class="heading editable"
     data_update_value="'employee[full_name]'"><%=@employee.full_name%></div>

<span id="employee_email_address"
      name="employee[email_address]"
      class="editable"
      data_update_value="'employee[email_address]'"
      data_default_text="'(add an e_mail address)'"><%=@employee.email_address%>
</span>
<a href="mailto:<%=@employee.email_address%>" class="ui_icon ui_icon_mail_closed" style="float:left"></a>
<hr>
<div style="border_top:1px solid gray;padding:4px;margin:4px"><label>Department:</label> <%=@employee.department.name%> |
  <label>Primary assignment:</label> <%=@employee.organizational_unit.name%> |
  <label>Primary position:</label> <%=@employee.organizational_role.name%></div>


<p>
<div class="heading">Credentials & Training</div>

<%=render :partial=>"/admin/issued_credentials/list"%>


<script language="javascript">
   
    $.fn.editInPlace.defaults.url='<%=@employee.id%>';
    $('.editable').editInPlace();


</script>