<%content_for :title do%>
    Employee Directory
<%end%>

<div class="content-box" style="float:left;">
  <div class="content-box-wrapper" style="padding:2px;margin:2px;">
    <h3 class="ui-box-header ui-corner-top">Employees:</h3>
    <div id="employees" class="hastable">
      <table>
        <thead>
        <tr>
          <th>Employee</th>
          <th>Department</th>
          <th>Assignment</th>
          <th>Position</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <%@employees.each do |employee|%>
            <tr  id="emp_row_<%=employee.id%>">
              <td>
                <a href="<%=resource_url(employee)%>">
                  <%=employee.full_name_formal%>
                </a>
              </td>
              <td>
                <%=employee.department.name%>
              </td>
              <td>
                <%=employee.organizational_unit.name%>
              </td>
              <td>
                <%=employee.organizational_role.name%>
              </td>
              <td>
                <a href="<%=edit_resource_url(employee)%>"><span id="edit_employee_<%=employee.id%>" class="ui-icon ui-icon-pencil edit_employee" style="cursor:pointer"></span></a>
                <span id="delete_employee_<%=employee.id%>" class="ui-icon ui-icon-closethick delete_employee" style="cursor:pointer"></span>
              </td>
            </tr>
        <%end%>
        </tbody>
      </table>
    </div>
    <div class="ui-box-header ui-corner-bottom" style="padding:15px;">
      <%=will_paginate @employees, :class=>'digg_pagination', :style=>"float:right;margin:-7px"%>
    </div>
  </div>
</div>
<div class="clear"></div>
<div>
  <a href="employees/new" id="add_employee">Add Employee</a>
</div>
<br>

<script language="javascript">
    $(function(){
        $(".delete_employee").click(function(){
            var id = this.id.split("_").pop();
            $.ajax({
                type: 'post',
                data: {_method:'delete',employee:{id:id}},
                dataType:null,
                complete: function(request){
                    $("#emp_row_" + id).remove();
                    //var row = $(this).parent('tr');
                    //$(row).remove();
                },
                url: 'employees/' + id
            });
        });

        $("#add_employee").button();
    });
</script>

