<%content_for :head do%>
    <%javascript "jquery.form"-%>

    <script type="text/javascript" src="/javascripts/jsTree/jquery.jstree.js"></script>
    <%javascript "jquery.maestro.jstreehelper"%>
<%end%>

<%content_for :title do%>
    Employee Directory
<%end%>

<%content_for :sidebar do%>
    <div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
      <div class="portlet-header ui-widget-header">
        Filters
        <span class="ui-icon ui-icon-circle-arrow-s"></span></div>
      <div class="portlet-content">
        <div class="search-bar">
          <form method="get">
            <%if params[:q]%>
                <a href="/admin/employees" id="clear_search">
                  <span class="ui-icon ui-icon-close"></span>
                </a>
            <%end%>
            <label for="filter_name">Name:</label>
            <input label="filter_name" type="text" name="q" value="<%=params[:q]%>"/>
            <input type="submit" value="Search">
          </form>
        </div>
      </div>
    </div>

    <div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
      <div class="portlet-header ui-widget-header">
        Departments & Roles
        <span class="ui-icon ui-icon-circle-arrow-s"></span></div>
      <div class="portlet-content">
        <%=render :partial=>"/admin/departments/tree"%>
      </div>
    </div>

    <div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
      <div class="portlet-header ui-widget-header">
        Organizational Model
        <span class="ui-icon ui-icon-circle-arrow-s"></span></div>
      <div class="portlet-content">
        <%=org_tree_html%>
      </div>
    </div>
<%end%>

<div class="content-box" style="float:left;">
  <div class="content-box-wrapper" style="padding:2px;margin:2px;">
    <h3 class="ui-box-header ui-corner-top">Employees:</h3>
    <div id="employees" class="hastable">
      <table>
        <thead>
        <tr>
          <th>Employee</th>
          <th>Department</th>
          <th>Assignment</th>
          <th>Position</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <%@employees.each do |employee|%>
            <tr  id="emp_row_<%=employee.id%>">
              <td>
                <a href="<%=resource_url(employee)%>">
                  <%=employee.full_name_formal%>
                </a>
              </td>
              <td>
                <%=employee.department.name%>
              </td>
              <td>
                <%=employee.organizational_unit.name%>
              </td>
              <td>
                <%=employee.organizational_role.name%>
              </td>
              <td>
                <a href="<%=edit_resource_url(employee)%>"><span id="edit_employee_<%=employee.id%>" class="ui-icon ui-icon-pencil edit_employee" style="cursor:pointer"></span></a>
                <span id="delete_employee_<%=employee.id%>" class="ui-icon ui-icon-closethick delete_employee" style="cursor:pointer"></span>
              </td>
            </tr>
        <%end%>
        </tbody>
      </table>
    </div>
    <div class="ui-box-header ui-corner-bottom" style="padding:15px;">
      <%=will_paginate @employees, :class=>'digg_pagination', :style=>"float:right;margin:-7px"%>
    </div>
  </div>
</div>
<div class="clear"></div>
<div>
  <a href="employees/new" id="add_employee">Add Employee</a>
</div>
<br>

<script language="javascript">
    $(function(){
        $(".delete_employee").click(function(){
            var id = this.id.split("_").pop();
            $.ajax({
                type: 'post',
                data: {_method:'delete',employee:{id:id}},
                dataType:null,
                complete: function(request){
                    $("#emp_row_" + id).remove();
                    //var row = $(this).parent('tr');
                    //$(row).remove();
                },
                url: 'employees/' + id
            });
        });

        $("#add_employee").button();

        $("#role_tree").jstree({
            core : {animation:50},
            plugins : [ "themes", "html_data", "ui"]
        })
                .bind("select_node.jstree",function(event,data){

            var department_id = data.rslt.obj.attr("data-department-id");
            var role_id = data.rslt.obj.attr("data-organizational-role-id");

            if (data.rslt.obj.attr("rel") == "department"){
                $(document).trigger("department.selected",[department_id]);
            }
            else if (data.rslt.obj.attr("rel") == "organizational-role"){
                $(document).trigger("organizational_role.selected",[department_id,role_id]);
            }
        });

        $("#org_tree").jstree({
            core : {animation:50},
            plugins : [ "themes", "html_data", "ui" ]
        })
                .bind("select_node.jstree",function(event,data){
            var $this = data.rslt.obj;
            //            var root = find_root(node,tree);
            //            var type = tree.get_type(node).split(':');
            var controller = $this.attr("data-collection-name");
            var ou_id = $this.attr("id");
            if (!ou_id) return;

            $(document).trigger('organizational_unit.selected',[controller,ou_id]);

        });
    });
</script>

