<%return unless @requirement_set%>

<style type="text/css">
    .boxy-content {
        margin:5px;padding:0;
    }
</style>

<div id="rs_name"
     class="heading editable"
     data-update_value="'requirement_set[name]'"><%=@requirement_set.name%></div>
required by

<span id="required_roles" data-required_role_ids="[<%=required_role_ids.map{|id|"'#{id}'"}.join(",")%>]" class="editable">
  <%=required_roles_list%>
</span>, assigned to

<span id="required_org_units" data-required_ou_ids="[<%=required_ou_ids.map{|id|"'#{id}'"}.join(",")%>]" class="editable">
  <%=required_ou_list%>
</span>

<hr>
<%=render :partial=>"admin/requirement_groups/group", :collection=>@requirement_set.requirement_groups%>
<hr>
<div class="heading">Employees</div>
<%@requirement_set.employees.each do |employee|%>
    <ul>
      <li>
        <div><%=employee.full_name_formal%></div>
        <div style="font-style:italic;font-size:.75em"><%=employee.organizational_unit.name%> <%=employee.organizational_role.name%></div>
        <ul>
          <% 
             @requirement_set.requirement_groups.each do |req_group|%>
              <li><%=req_group.operator%> required
                <ul>
                  <%req_group.required_credentials.each do |credential|%>
                      <li>
                        <%=credential.name%><%=credential.duty_requirement ? "*" : ""%>
                      </li>
                  <%end%>
                </ul>
              </li>
          <%end%>
        </ul>
      </li>
    </ul>

<%end%>



<script language="javascript">
    var updateUrl = "departments/<%=@department.id%>/requirement_sets/<%=@requirement_set.id%>";
    $("#required_roles").click(function(){
        var selected_ids = eval($(this).attr("data-required_role_ids"));
        $.maestro.dialogs.roleSelector('<%=@department.id%>',selected_ids,{
            title:"Select the roles this requirement applies to",
            onSelection:function(selected){
                var ids = selected && selected[1] && selected[1].length > 0 ? selected[1] : "";
                $.ajax({
                    type: 'POST',
                    url: updateUrl,
                    data: {_method:'put',requirement_set:{organizational_role_ids:ids}},
                    dataType: 'json',
                    success: function(data){
                        $("#required_roles").text((selected.length > 0 && selected[0] != "") ? selected[0].join(", ") : "all departmental employees")
                                .attr("data-required_role_ids","[" + $.map(selected[1],function(id){return "'" + id + "'"}).join(",") + "]");
                    }
                });
            }
        });
    });

    $("#required_org_units").click(function(){
        var selected_ids = eval($(this).attr("data-required_ou_ids"));
        $.maestro.dialogs.organizationalUnitSelector(selected_ids,{
            title:"Select the locations this requirement applies to",
            onSelection:function(selected){
                var ids = selected && selected[1] && selected[1].length > 0 ? selected[1] : "";
                $.ajax({
                    type:'POST',
                    url:updateUrl,
                    data:{_method:'put',requirement_set:{organizational_unit_ids:ids}},
                    dataType:'json',
                    success:function(data){
                        $("#required_org_units").text((selected.length > 0 && selected[0] != "") ? selected[0].join(", ") : "any location")
                                .attr("data-required_ou_ids","[" + $.map(selected[1],function(id){return "'" + id + "'"}).join(",") + "]");
                    }
                })
            }
        })
    });

    $(".requirement_group").find("button").button().click(function(){
        var group_id = this.id.split("_").pop();
        $.maestro.dialogs.credentialQuickCreate($(this).parent().find("select").val(),{
            onSubmit:function(newCredential){
                $.ajax({
                    type:'POST',
                    url:"requirement_sets/<%=@requirement_set.id%>/requirement_groups/" + group_id + "/add_requirement",
                    data:{_method:'put',required_credential_id:newCredential["id"]},
                    success:function(data){
                        raiseUpdatedEvent();
                    }
                });
            }
        });
    });

    $(".delete_group_requirement").click(function(){
        var ids = this.id.split("_").pop().split(":");
        var group_id = ids[0];
        var credential_id = ids[1];
        $.ajax({
            type:'POST',
            url:"requirement_sets/<%=@requirement_set.id%>/requirement_groups/" + group_id + "/remove_requirement",
            data:{_method:'delete',required_credential_id:credential_id},
            success:function(data){
                raiseUpdatedEvent();
            }
        });
    });

    function raiseUpdatedEvent()
    {
        $(document).trigger("requirement_set.selected",["<%=@department.id%>","<%=@requirement_set.id%>"]);
    }

    $.fn.editInPlace.defaults.url=updateUrl;
    $('.editable').editInPlace();
</script>
