<div class="inner-page-title">
  <h2 id="role_name"
      name="role[name]"
      class="heading editable"
      data-update_value="'role[name]'"
      data-success="role_renamed">
    <%=@role.name%>
  </h2>
</div>
<span id="role_position_type"
      class="editable"
      data-select_options="'<%=position_type_select_options%>'"
      data-field_type='"select"'
      data-update_value='"role[position_type]"'>
  <%=position_type_description%>
</span>, and is staffed per

<span id="role_organizational_unit_type"
      class="editable"
      data-select_options="'<%=organizational_unit_type_options%>'"
      data-field_type='"select"'
      data-update_value="'role[organizational_unit_type]'">
  <%=@role.organizational_unit_type%>
</span>.

<hr/>

<div>
  <%if @role.parent_id%>
      Reports to: <a id="<%=@role.parent_id%>" href="#select" rel="organizational-role"><%=@role.parent.name%></a>
  <%end-%>
</div>


<div>
  <p>
    Job Description/Mission Statement:
  <div id="role_description"
       name="role[role_description]"
       class="description editable"
       data-field_type="'textarea'"
       data-update_value="'role[role_description]'"
       data-text_area_cols="100"
       data-text_area_rows="10">
    <%=@role.description || "<i>Click here to add a job description / mission statement</i>"%>
  </div>
</div>

<br>

<div class="content-box" style="float:left;padding:2px;margin:2px;background-color:#DDD">
  <div class="content-box-wrapper" style="padding:2px;margin:2px;">
    <h3 class="ui-box-header ui-corner-top"><%=@role.name%> is responsible for the following roles:</h3>
    <%if @role.children.count > 0%>
        <div class="hastable">
          <table style="width:100%">
            <thead>
            <tr>
              <td>Role</td>
              <td>Role Type</td>
              <td>Staffed Per</td>
              <td>Actions</td>
            </tr>
            </thead>
            <tbody>
            <%@role.children.each do |child_role|%>
                <tr id="row_<%=child_role.id%>">
                  <td>
                    <a id="<%=child_role.id%>" href="#select" rel="organizational-role"><%=child_role.name%></a>
                  </td>
                  <td>
                    <%=child_role.position_type%>
                  </td>
                  <td>
                    <%=child_role.organizational_unit_type%>
                  </td>
                  <td>
                    <a class="btn_no_text btn ui-state-default ui-corner-all tooltip" title="Remove <%=child_role.name%>" href="#delete" rel="organizational-role" data-organizational-role-id="<%=child_role.id%>">
                      <span class="ui-icon ui-icon-circle-close"></span>
                    </a>
                  </td>
                </tr>
            <%end%>
            </tbody>
          </table>
        </div>
    <%end%>
    <div class="ui-corner-all" style="background-color:white;padding:7px;">
      <input id="new_role_name" type="text">
      <a id="add_child_role">Add Role</a>
    </div>
  </div>
</div>
<script language="javascript">
    $.fn.editInPlace.defaults.url='departments/<%=@department.id%>/roles/<%=@role.id%>';
    $('.editable').editInPlace();

    $("#add_child_role").button().click(function(){
        var parent_id = '<%=@role.id%>';
        var new_node_data = {role:{name:$("#new_role_name").val(),parent_id:parent_id}};
        $.ajax({
            type: 'post',
            data:new_node_data,
            dataType: 'json',
            success: function(json) {
                $("#new_role_name").val("");
                var id = json["id"]
                $(document).trigger("organizational_role.created",[parent_id,json]);

            },
            error: function(response, status, error) {
            },
            complete: function() {
            },
            url: "/admin/departments/<%=@department.id%>/roles"
        });
    });


    $("a[href=#select][rel=organizational\-role]").click(function(){
        var role_id = this.id;
        $(document).trigger("organizational_role.selected",['<%=@department.id%>',role_id]);
    });

    $("a[href=#delete][rel=organizational\-role]").click(function(){
        var role_id = $(this).attr("data-organizational-role-id");
        $.ajax({
            type: 'post',
            data:{_method:"delete",role:{id:role_id}},
            dataType: 'script',
            success: function(request){
                $("#row_" + role_id).remove();
                $(document).trigger("organizational_role.deleted",[role_id]);
            },
            url: "/admin/departments/<%=@department.id%>/roles/" + role_id
        });
    });

    function role_renamed(new_name){
        $(document).trigger("organizational_role.renamed",['<%=@role.id%>',new_name]);
    }

</script>