<%form_for([:admin,@credential]) do |form|%>
  <div>

    <p>
      <label for="credential_type">Credential Type</label><br>
      <select id="credential_type" name="type">
        <%Credential.credential_types.each do |type|%>
            <option><%=type%></option>
        <%end%>
      </select>
    </p>

    <p>
        <%=form.label :department_id%><br>
        <%=form.collection_select(:department_id, Account.current.departments, :id, :name, :prompt=>"Select a department")%>
    </p>

    <p>
        <%=form.label :name%><br>
        <%=form.text_field :name%>
    </p>

    <p>
      <%=form.label :duty_requirement%><br>
      <%=form.check_box :duty_requirement%>
    </p>
    
  </div>
<%end%>