<div id="credential_tree">
  <ul>
    <%@credentials.keys.each do |dep|%>
        <li id="<%=dep.id%>">
          <a href="#"><%=dep.name%></a>
          <span class="folder-count">(<%=@credentials[dep] ? @credentials[dep].length : "0"%>)</span>
          <%if @credentials[dep]%>
          <ul>
            <% @credentials[dep].keys.each do |type|%>
                <li id="credentialtype_<%=dep.id%>_<%=type%>">
                  <a href='#'><%=type.titleize.pluralize%></a>
                  <span class="folder-count">(<%=@credentials[dep][type] ? @credentials[dep][type].length : "0"%>)</span>
                  <%unless @credentials[dep][type].blank?%>
                  <ul>
                    <%@credentials[dep][type].each do |c| %>
                        <li id="<%= c.id -%>" data-department-id="<%=dep.id%>" rel="credential">
                          <a href='#' class="tooltip" title="<%=h c.name%>"><%=truncate(c.name,:length=>35)%></a>
                        </li>
                    <% end %>
                  </ul>
                  <%end%>
                </li>
            <% end%>
          </ul>
          <%end%>
        </li>
    <%end%>
  </ul>
</div>

<script language="javascript">

    //var baseUrl = "departments/<%#=@department.id%>/credentials";


//    function renameCredential(node,tree,rollback){
//        if (node.id != null && node.id != '')
//        {
//            node_id = node.id.split("_").pop();
//            $.ajax({
//                type: 'post',
//                data: {_method:"put",credential:{id:node_id,name:tree.get_text(node)}},
//                dataType: 'script',
//                complete: function(request){
//                    $("#credentials").effect('highlight');
//                },
//                url: baseUrl + "/" + node_id});
//        }
//
//    }

//    function deleteCredential(node,tree,rollback){
//        var node_id = node.id.split("_").pop();
//        $.ajax({
//            type: 'post',
//            data:{_method:"delete",credential:{id:node_id}},
//            dataType: 'script',
//            complete: function(request){
//                $("#credentials").effect('highlight');
//            },
//            url: baseUrl + '/' + node_id
//        });
//    }

//    function createCredential(node, ref, ref_type, tree, rollback){
//        var parent = tree.parent(node);
//        var parent_id = ((parent != -1  && parent.length > 0) ? parent[0].id.split("_").pop() : null);
//
//        var new_node_data = {type:parent_id,credential:{
//            name:'New ' + parent_id,
//            department_id:'<%#=@department.id%>'
//        }};
//        $.ajax({
//            type: 'post',
//            data:new_node_data,
//            dataType: 'json',success: function(json) {
//                var id = json["id"]
//                $(node).attr("id","credential_" + id)
//            },
//            error: function(response, status, error) {
//            },
//            complete: function() {
//            },
//            url: baseUrl
//        });
//    }

//    function credentialNodeSelected(node,tree)
//    {
//        var parts = node.id.split("_");
//        var event_name = parts[0] == "credential" ? "credential.selected" : "credential_type.selected";
//        var node_id = node.id.split("_").pop();
//
//        $(node).trigger(event_name,['<%#=@department.id%>',node_id]);
//    }
//    $(function(){
//        $("#credential_tree").jstree({
//            plugins : [ "themes", "html_data", "ui", "crrm", "contextmenu" ]
//        });
//    });


</script>
