<style type="text/css">
    #credentials-list { list-style-type: none; margin: 0; padding: 0;  }
    #credentials-list li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; cursor:pointer }
    #credentials-list li span.order_credential { position: absolute; margin-left: -1.3em; cursor:move; }
    #credentials-list li span.delete_credential { float:right;}

    #credentials-list .ui-selecting { background: #FECA40; }
    #credentials-list .ui-selected { background: #F39814; color: white; }

</style>

<ul id="credentials-list">
  <% @credentials.each do |c| %>
      <li class="ui-state-default" id="credential_<%= c.id -%>">
        <span class="credential_name"><%= c.name -%></span>
        <span class="ui-icon ui-icon-closethick delete_credential"></span>
      </li>
  <% end %>
</ul>

<div>
  <button id="add_new_credential">New <%=@credential_type.titleize%></button>
</div>

<script language="javascript">
    function getFirstCredentialId()
    {
        var first = $("#credentials-list li").first();
        return first ? first.attr("id").split("_").pop() : null;
    }

    function selectCredential(credential_id)
    {
        credential_id = credential_id || getFirstCredentialId();
        if (credential_id == null) return;

        var selected = $("#credentials-list").children(".ui-selected");

        if (selected.length > 0 && selected[0].id == "credential_" + credential_id) return;

        selected.removeClass("ui-selected");
        var c = $("#credential_" + credential_id);
        c.addClass("ui-selected");
        c.trigger("credential.selected",['<%=@credential_type%>',credential_id]);
    }


    $('.delete_credential').die('click');
    $('.delete_credential').live('click',function(){
        item = $(this).parent();
        id = item.attr("id").split("_")[1];
        $.ajax({
            type: 'post',
            data: {_method:'delete',credential:{id:id}},
            dataType:null,
            complete: function(request){
                item.remove();
            },
            url: 'credentials/destroy/' + id
        });
    });

    $("#credentials-list li").die('click');
    $("#credentials-list li").live('click',function(){
        selectCredential(this.id.split("_").pop());
    });

    $("button").button();

    $("#add_new_credential").click(function(){
        $.maestro.dialogs.credentialQuickCreate('<%=@credential_type%>',{
            onSubmit:function(newCredential){
                var id = newCredential["id"]
                var name = newCredential["name"]
                var list = $("#credentials-list");
                var new_item = list.children().last().clone();
                new_item.attr("id","credential_" + id);
                new_item.children(1).text(name);
                list.append(new_item);
                selectCredential(id);
            }
        });
    });

    selectCredential(null);

</script>
