<div id="cred_name"
     class="heading editable"
     data-update_value="'credential[name]'"><%=@credential.name%></div>

<label for="duty_requirement">Duty Requirement:</label>
<span id="duty_requirement"
     class="editable"
     data-select_options="'Yes:true,No:false'"
     data-field_type='"select"'
     data-update_value="'credential[duty_requirement]'">
<%=@credential.duty_requirement ? "Yes" : "No"%>
</span>

<hr>

<script language="javascript">
    var updateUrl = "credentials/<%=@credential.id%>";
    $.fn.editInPlace.defaults.url=updateUrl;
    $('.editable').editInPlace();
</script>

<h3>
    Issued to:
</h3>

<table>
  <tr>
    <th>Employee</th>
    <th>Expiration</th>
    <th>Status</th>
  </tr>

<%@credential.issued_to.each do |employee|
    status = employee.issued_credentials.status(@credential)
%>
    <tr>
      <td>
        <a href="<%=admin_employee_url(employee)%>"><%=employee.full_name_formal%></a>
      </td>
      <td>
        <%=status.expiration_description%>
      </td>
      <td>
        <%=status.status.to_s.titleize%>
      </td>
    </tr>
<%end%>
</table>



