<span class="inner-page-title">
<h2 id="cred_name"
    class="editable"
    data-update_value="'credential[name]'"
    data-success="credential_renamed">
  <%=@credential.name%>
</h2>
</span>

<p>
  <label for="duty_requirement">Duty Requirement:</label>
<span id="duty_requirement"
      class="editable"
      data-select_options="'Yes:true,No:false'"
      data-field_type='"select"'
      data-update_value="'credential[duty_requirement]'">
<%=@credential.duty_requirement ? "Yes" : "No"%>
</span>
</p>

<%unless @compliance["Yes"].blank?%>
<span class="inner-page-title">
  <h3>Mandatory:</h3>
</span>

<div class="hastable" style="float:left;">

  <table id="mandatory">
    <thead>
    <tr>
      <th>Employee</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <%@compliance["Yes"].each do |employee|%>
        <tr>
          <td>
            <a href="/admin/employees/<%=employee.employee_id%>"><%=employee.employee_name%></a>
          </td>
          <td>
             <div class="ui-corner-all requirement-status <%=employee.requirement_status%>">
              <%=employee.requirement_status.to_s.humanize.titleize%>
            </div>
          </td>
        </tr>
    <%end%>
    </tbody>
  </table>
</div>
<%end%>
<div class="clear"></div>
<br>
<%unless @compliance["No"].blank?%>
<span class="inner-page-title">
  <h3>Optional:</h3>
</span>

<div class="hastable" style="float:left;">

  <table id="optional">
    <thead>
    <tr>
      <th>Employee</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <%@compliance["No"].each do |employee|%>
        <tr>
          <td>
            <a href="/admin/employees/<%=employee.employee_id%>"><%=employee.employee_name%></a>
          </td>
          <td>
             <div class="ui-corner-all requirement-status <%=employee.requirement_status%>">
              <%=employee.requirement_status.to_s.humanize.titleize%>
            </div>
          </td>
        </tr>
    <%end%>
    </tbody>
  </table>
</div>
<%end%>

<script language="javascript">
    function credential_renamed(new_name){
        $(document).trigger("credential.renamed",['<%=@credential.id%>',new_name])
    }
    var updateUrl = "/admin/credentials/<%=@credential.id%>";
    $.fn.editInPlace.defaults.url=updateUrl;
    $('.editable').editInPlace();
    $("#issued_to").tablesorter({widgets:['zebra']});
</script>


