<div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
  <div class="portlet-header ui-widget-header">
    Credentials
    <span class="ui-icon ui-icon-circle-arrow-s"></span></div>
  <div class="portlet-content">

    <div id="credential_tree">
      <ul>
        <%@credentials.keys.each do |dep|%>
            <li id="<%=dep.id%>" data-department-id="<%=dep.id%>" rel="department" class="<%=@credential && @credential.department_id == dep.id ? "jstree-open":""%>">
              <a href="#"><%=dep.name%></a>
              <%if @credentials[dep]%>
                  <ul>
                    <% @credentials[dep].keys.each do |type|%>
                        <li id="<%=dep.id%>_<%=type%>"
                            data-department-id="<%=dep.id%>"
                            data-credential-type="<%=type%>"
                            rel="credential_type"
                            class="<%=@credential && @credential.department_id == dep.id && @credential.type == type ? "jstree-open" : ""%>">

                          <a href='#'><%=type.titleize.pluralize%></a>
                          <%unless @credentials[dep][type].blank?%>
                              <ul>
                                <%@credentials[dep][type].each do |c| %>
                                    <li id="<%=c.id%>" data-credential-id="<%=c.id%>" data-department-id="<%=dep.id%>" rel="credential">
                                      <a href='#' class="tooltip" title="<%=h c.name%>"><%=truncate(c.name,:length=>35)%></a>
                                    </li>
                                <% end %>
                              </ul>
                          <%end%>
                        </li>
                    <% end%>
                  </ul>
              <%end%>
            </li>
        <%end%>
      </ul>
    </div>
    <button id="create_credential">New Credential</button>
  </div>
</div>



<script language="javascript">
    //$(document).ready(function(){
        


    //});
</script>

