<div id="<%=organizational_unit_type%>_name"
     name="<%=organizational_unit_type%>[name]"
     class="heading editable"
     data-update_value="'<%=organizational_unit_type%>[name]'"><%=ou.name%></div>

<p>Positions:</p>
<% departments = Account.current.departments
   roles = ou.roles
   employees = ou.employees.sort{|a,b|a.full_name_formal<=>b.full_name_formal}

   departments.each do |department|
       dep_roles = roles.select{|role|role.department_id==department.id}
       next if dep_roles.blank?
%>
       <p><%=department.name%></p>
<%
       dep_roles.each do |role|%>
        <div class="staff-group" style="width:300px;border:1px solid gray;margin:5px">
          <div>
            <%=role.name%>
          </div>
          <div>
            <%staff = employees.select{|emp|emp.organizational_role_id==role.id}.map{|emp|"<span class='employee'>#{emp.full_name}</span>"}%>
            <%=staff.blank? ? "Currently Unstaffed" : staff.join(", ")%>
          </div>
        </div>
    <% end
       end%>


<%=javascript_tag("$.fn.editInPlace.defaults.url='companies/#{company.id}/#{organizational_unit_type.pluralize}/#{ou.id}';
                   $('.editable').editInPlace();")%>