<%collection.each do |ou,children|%>
    <tr id="tr_<%=ou%>" data-ou-id="<%=ou%>" class="child-row">
      <td>
        <span style="margin-left:<%=depth * 10%>px">
          <%=requirement_group_link(collection,@names,ou)%>
        </span>
      </td>
      <td>
        <div style="float:left;width:<%=150-(depth*10)%>px;margin-left:<%=depth * 10%>px">
          <%=render :partial=>"compliance_graph", :locals=>{:subject=>children}%>
        </div>
        <div class="clear"></div>
      </td>
      <td>
       <%=render :partial=>"shared/compliance_scorecard", :locals=>{:subject=>children}%>
      </td>
    </tr>
    <%=render(:partial=>"compliance_status_group", :locals=>{:collection=>children, :depth=>depth+1}) unless children.is_a?(Array) || depth >= (@max_depth - 1)%>
<%end%>
