<%content_for :head do%>
    <script type="text/javascript" src="/javascripts/jsTree/jquery.jstree.js"></script>
    <%javascript "jquery.maestro.jstreehelper"%>
<%end%>

<%content_for :title do%>
    Staff Requirement Compliance
<%end%>

<%content_for :top_buttons do
    by_what = params[:by] || "organizational_unit"
    ou_href, ou_class = by_what == "organizational_unit" ? ["","ui-state-hover"] : ["href='/staff_requirements'","ui-state-default"]
    req_href, req_class = by_what == "organizational_unit" ? ["href='/staff_requirements?by=requirement'","ui-state-default"] : ["","ui-state-hover"]
%>

    <div id="req_cat_buttons">
      <a class="btn ui-corner-all <%=ou_class%>" <%=ou_href%>>
        <%if by_what == "organizational_unit"%><span class="ui-icon ui-icon-circle-check"></span><%end%>
        By Organizational Unit
      </a>
      <a class="btn ui-corner-all <%=req_class%>" <%=req_href%>>
        <%unless by_what == "organizational_unit"%><span class="ui-icon ui-icon-circle-check"></span><%end%>
        By Requirement
      </a>
    </div>
<%end%>

<%content_for :sidebar do%>

    <div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
      <div class="portlet-header ui-widget-header">
        <a href="#" id="clear_dep_query" style="display:none">
          <%=image_tag "delete.png"%>
        </a>
        Departments & Roles
        <span class="ui-icon ui-icon-circle-arrow-s"></span></div>
      <div class="portlet-content">
        <%=render :partial=>"/admin/departments/tree"%>
      </div>
    </div>

    <div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
      <div class="portlet-header ui-widget-header">
        <a href="#" id="clear_org_query" style="display:none">
          <%=image_tag "delete.png"%>
        </a>
        Organizational Model
        <span class="ui-icon ui-icon-circle-arrow-s"></span></div>
      <div class="portlet-content">
        <%=org_tree_html%>
      </div>
    </div>
<%end%>

<div class="content-box" style="float:left;">
  <div class="content-box-wrapper" style="padding:2px;margin:2px;">
    <h3 class="ui-box-header ui-corner-top">
      Requirements Status
    </h3>
    <div id="requirements">
      <%=render :partial=>"staff_requirement_list"%>
    </div>
  </div>
</div>
<div class="clear"></div>


<br>

<script language="javascript">
    function filterRequirements(url){
        url = url || "/staff_requirements";
        var filter = {}
        filter["by"] = "<%=params[:by] || "organizational_unit"%>"
        var dep_roles = getDepartmentAndRoleSelections();
        var org_units = getOrganizationalUnitSelections();

        var has_dep_query = false;
        if (dep_roles[0].length > 0){
            filter["departments[]"] = dep_roles[0];
            has_dep_query = true;
        }

        if (dep_roles[1].length > 0){
            filter["roles[]"] = dep_roles[1];
            has_dep_query = true;
        }

        has_dep_query ? $("#clear_dep_query").fadeIn() : $("#clear_dep_query").fadeOut();

        if (org_units.length > 0){
            filter["organizational_units[]"] = org_units;
            $("#clear_org_query").fadeIn();
        }
        else{
            $("#clear_org_query").fadeOut();
        }

        $.get(url,filter,function(response){
            var $e = $("#requirements");
            $e.slideUp(100);
            $("#requirements").html(response);
            $e.slideDown(100);
        });
    }

    function getDepartmentAndRoleSelections(){
        var tree = $.jstree._reference("#role_tree");
        var selections = tree.get_selected();
        var departments = [];
        var roles = [];
        $.each(selections,function(index,selected){
            var $sel = $(selected);
            var rel = $sel.attr("rel");
            if (rel == "department") departments.push(selected.id);
            if (rel == "organizational-role"){
                roles.push(selected.id);
                departments.push($sel.attr('data-department-id'));
            }
        });
        return [departments,roles];
    }

    function getOrganizationalUnitSelections(){
        var tree = $.jstree._reference("#org_tree");
        var selections = tree.get_selected();
        var org_units = [];
        $.each(selections,function(index,selected){
            if (selected && selected.id){
                org_units.push(format_org_unit(selected));
            }
//            if (selected.children.length > 0){
//                collectChildUnits(selected.children,org_units);
//            }

        });
        return org_units;
    }

    function collectChildUnits(org_units, selected){
        $.each(org_units,function(index,unit){
            if (unit && unit.id){
                selected.push(format_org_unit(unit));
            }
            if (unit.children.length > 0){
                collectChildUnits(unit.children,selected);

            }

        });
    }

    function format_org_unit(org_unit_element){
        return $(org_unit_element).attr("data-type") + "_id:" + org_unit_element.id
    }




    $(function(){

        $("#clear_dep_query").click(function(){
            $.jstree._reference("#role_tree").deselect_all();
            filterRequirements();
        });

        $("#clear_org_query").click(function(){
            $.jstree._reference("#org_tree").deselect_all();
            filterRequirements();
        });

        $("#role_tree").jstree({
            core : {animation:50},
            plugins : [ "themes", "html_data", "ui"]
        })
                .bind("select_node.jstree",function(event,data){filterRequirements();})
                .bind("deselect_node.jstree",function(event,data){filterRequirements();});

        $("#org_tree").jstree({
            core : {animation:50},
            plugins : [ "themes", "html_data", "ui" ]
        })
                .bind("select_node.jstree",function(event,data){filterRequirements();})
                .bind("deselect_node.jstree",function(event,data){filterRequirements()});
    });
</script>