<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <title><%= h(yield(:title) || "Untitled") %></title>

  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"-%>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js"-%>
  <%= javascript_include_tag "jquery.metadata" %>

  <script type="text/javascript" src="/javascripts/admintasia/superfish.js"></script>

  <script type="text/javascript" src="/javascripts/admintasia/live_search.js"></script>
  <script type="text/javascript" src="/javascripts/admintasia/tooltip.js"></script>
  <script type="text/javascript" src="/javascripts/admintasia/cookie.js"></script>
  <script type="text/javascript" src="/javascripts/admintasia/custom.js"></script>

  <%= stylesheet_link_tag 'application' -%>
  <link href="/stylesheets/admintasia/ui/ui.base.css" rel="stylesheet" media="all" />

  <link href="/stylesheets/admintasia/themes/gray_standard/ui.css" rel="stylesheet" title="style" media="all" />


  <!--[if IE 7]>
    <link href="/stylesheets/admintasia/ie7.css" rel="stylesheet" media="all" />
    <![endif]-->
  <%= javascript_include_tag "application"-%>
  <% javascript_tag "var AUTH_TOKEN =  #{form_authenticity_token.inspect};" if protect_against_forgery? %>
  <%= yield(:head) %>

</head>

<body id="sidebar-left">
<div id="page_wrapper">
<div id="page-header">
<div id="page-header-wrapper">
<div id="top">
  <a href="dashboard.php" class="logo" title="Admintasia V2.0">Admintasia V2.0</a>
  <div class="welcome">
    <span class="note">Welcome, <a href="#" title="Welcome, Horia Simon">Horia Simon</a></span>

    <a class="btn ui-state-default ui-corner-all" href="#">
      <span class="ui-icon ui-icon-wrench"></span>
      Settings
    </a>
    <a class="btn ui-state-default ui-corner-all" href="#">
      <span class="ui-icon ui-icon-person"></span>
      My account
    </a>
    <a class="btn ui-state-default ui-corner-all" href="#">
      <span class="ui-icon ui-icon-power"></span>

      Logout
    </a>
  </div>
</div>
<ul id="navigation">
  <li>
    <a href="dashboard.php" class="sf-with-ul">Dashboard</a>
    <ul>
      <li><a href="dashboard.php">Administration</a></li>

      <li>
        <a href="forms.php">Forms</a>
        <ul>
          <li><a href="validate.php">Form validation</a></li>
          <li><a href="table_modal.php"><b>Add to table modal</b></a></li>
          <li><a href="editinplace.php"><b>Edit in Place</b></a></li>
          <li><a href="tinymce.php"><b>WYSIWYG Editor</b></a></li>

        </ul>
      </li>
      <li>
        <a href="tables.php">Tables</a>
        <ul>
          <li><a href="tables.php">Sortable Tables</a></li>
          <li><a href="flexigrid.php"><b>FlexiGrid</b></a></li>

        </ul>
      </li>
      <li>
        <a href="#">Widgets</a>
        <ul>
          <li><a href="accordion.php">Accordion</a></li>
          <li><a href="flexigrid.php"><b>FlexiGrid</b></a></li>

          <li><a href="editinplace.php"><b>Edit in Place</b></a></li>
          <li><a href="tinymce.php"><b>WYSIWYG Editor</b></a></li>
          <li><a href="charts.php"><b>Charts</b></a></li>
          <li><a href="tabs.php">Tabs</a></li>
          <li><a href="slider.php">Slider</a></li>
          <li><a href="datepicker.php">Datepicker</a></li>

          <li><a href="progress.php">Progress Bar</a></li>
          <li><a href="dialog.php">Dialogs and Modals</a></li>
          <li><a href="overlays.php">Overlays</a></li>
          <li><a href="photo_manager.php">Photo Manager</a></li>
          <li><a href="file_browser.php">File Browser</a></li>
        </ul>

      </li>
      <li><a href="msg.php">Response Messages</a></li>
      <li><a href="icons.php">Icons</a></li>
      <li><a href="index.php">Login Page</a></li>
      <li><a href="icons.php">Buttons and Elements</a></li>
    </ul>
  </li>

  <li>
    <a href="#" class="sf-with-ul">Unlimited Levels</a>
    <ul>
      <li>
        <a href="#" class="sf-with-ul">Menu item 1</a>
        <ul>
          <li><a href="#">Subitem 1</a></li>

          <li><a href="#">Subitem 2</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Menu item 2</a>
      </li>
      <li>
        <a href="#">Menu item 3</a>

      </li>
      <li>
        <a href="#" class="sf-with-ul">Menu item 4</a>
        <ul>
          <li><a href="#">Subitem 1</a></li>
          <li>
            <a href="#" class="sf-with-ul">Subitem 2</a>

            <ul>
              <li><a href="#">Subitem 1</a></li>
              <li>
                <a href="#" class="sf-with-ul">Subitem 2</a>
                <ul>
                  <li><a href="#">Subitem 1</a></li>
                  <li>

                    <a href="#">Subitem 2</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>

      <li>
        <a href="#" class="sf-with-ul">Menu item 5</a>
        <ul>
          <li><a href="#">Subitem 1</a></li>
          <li><a href="#">Subitem 2</a></li>
        </ul>
      </li>

      <li>
        <a href="#">Menu item 6</a>
      </li>
      <li>
        <a href="#">Menu item 7</a>
      </li>
    </ul>
  </li>

  <li><a href="gallery.php">Photo Gallery</a></li>
  <li>
    <a href="#" class="sf-with-ul">Layout Options</a>
    <ul>
      <li>
        <a href="three-columns-layout.php">Three columns</a>
      </li>

      <li>
        <a href="two-column-layout.php">Two columns</a>
      </li>
      <li>
        <a href="no-rounded.php">No rounded corners</a>
      </li>
      <li>
        <a href="content_boxes.php">Available content boxes</a>

      </li>
    </ul>
  </li>
  <li>
    <a href="#" class="sf-with-ul">Theme Options</a>
    <ul>
      <li>
        <a href="page_left_sidebar.php">Page with left sidebar</a>

      </li>
      <li>
        <a href="page_dynamic_sidebar.php">Page with dynamic sidebar</a>
      </li>
      <li>
        <a href="#">Avaiable Themes</a>
        <ul id="style-switcher">
          <li>

            <a class="set_theme" id="black_rose" href="#" title="Black Rose Theme">Black Rose Theme</a>
          </li>
          <li>
            <a class="set_theme" id="gray_standard" href="#" title="Gray Standard Theme">Gray Standard Theme</a>
          </li>
          <li>
            <a class="set_theme" id="gray_lightness" href="#" title="Gray Lightness Theme">Gray Lightness Theme</a>

          </li>
          <li>
            <a class="set_theme" id="apple_pie" href="#" title="Apple Pie Theme">Apple Pie Theme</a>
          </li>
          <li>
            <a class="set_theme" id="blueberry" href="#" title="Blueberry Theme">Blueberry Theme</a>
          </li>
        </ul>

      </li>
      <li>
        <a href="#"><i>Dummy Link</i></a>
      </li>
    </ul>
  </li>
  <li>
    <a href="#" class="sf-with-ul">Widgets</a>

    <ul>
      <li><a href="accordion.php">Accordion</a></li>
      <li><a href="flexigrid.php"><b>FlexiGrid</b></a></li>
      <li><a href="editinplace.php"><b>Edit in Place</b></a></li>
      <li><a href="tinymce.php"><b>WYSIWYG Editor</b></a></li>
      <li><a href="charts.php"><b>Charts</b></a></li>

      <li><a href="tabs.php">Tabs</a></li>
      <li><a href="slider.php">Slider</a></li>
      <li><a href="datepicker.php">Datepicker</a></li>
      <li><a href="progress.php">Progress Bar</a></li>
      <li><a href="dialog.php">Dialogs and Modals</a></li>
      <li><a href="overlays.php">Overlays</a></li>

      <li><a href="photo_manager.php">Photo Manager</a></li>
      <li><a href="file_browser.php">File Browser</a></li>
    </ul>
  </li>
</ul>
<div id="search-bar">
  <form method="post" action="http://www.google.com/">
    <input type="text" name="q" value="live search demo" />

  </form>
</div>
</div>
</div>
<div id="sub-nav">
  <div class="page-title">
    <%- if show_title? -%>
        <h1><%=h(yield(:title) || "Untitled") %></h1>
    <%- end -%>
    <span><a href="#" title="Layout Options">Breadcrumb</a> > <a href="#" title="Elements">Elements</a> > Icons</span>

  </div>
  <div id="top-buttons">
    <a id="dialog_link" class="btn ui-state-default ui-corner-all" href="#">
      <span class="ui-icon ui-icon-newwin"></span>
      Dialog Window
    </a>
    <a class="btn ui-state-default ui-corner-all" id="drop" href="#drop_down">
      <span class="ui-icon ui-icon-carat-2-n-s"></span>
      DropDown Menu
    </a>

    <div id="drop_down" class="hidden">
      <ul>
        <li><a href="#">Google</a></li>
        <li><a href="#">Yahoo</a></li>
        <li><a href="#">MSN</a></li>
        <li><a href="#">Ask</a></li>
        <li><a href="#">AOL</a></li>

      </ul>
    </div>
    <a id="modal_confirmation_link" class="btn ui-state-default ui-corner-all" href="#">
      <span class="ui-icon ui-icon-grip-dotted-horizontal"></span>
      Modal Confirmation
    </a>
  </div>
  <div id="dialog" title="Dialog Title">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

  </div>
  <div id="modal_confirmation" title="An example modal title ?">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
</div>
<div id="page-layout">
  <div id="page-content">
    <div id="page-content-wrapper">
      <%=yield%>
      <div class="clearfix"></div>
      <div id="sidebar">
        <div class="sidebar-content">

          <div class="hide_sidebar">
            <%=yield(:sidebar)%>
          </div>

          <%if allow_hide_sidebar?%>
              <a id="close_sidebar" class="btn ui-state-default full-link ui-corner-all" href="#drill">
                <span class="ui-icon ui-icon-circle-arrow-e"></span>
                Close Sidebar
              </a>
              <a id="open_sidebar" class="btn tooltip ui-state-default full-link icon-only ui-corner-all" title="Open Sidebar" href="#"><span class="ui-icon ui-icon-circle-arrow-w"></span></a>
          <%end%>
        </div>
      </div>
      <div class="clear">
      </div>
    </div>
    <div class="clear"></div>
  </div>

</div>
<div class="clear"></div>
<div id="footer">
  <a href="#" title="Home">Home</a> |
  <a href="#" title="Register">Register</a> |
  <a href="#" title="Members Login">Members Login</a> |
  <a href="#" title="About us">About us</a> |
  <a href="#" title="Example link">Example link</a>

</div>
<div id="copyright">
  Created by <a href="http://www.thefreakparade.com" title="Freaky as ever">The Freak Parade</a>
</div>
</div>
<%= yield(:javascript) %>
</body>
</html>